# Ignore Visual Studio workspace files
.vs/

# Node modules (if you ever use npm)
node_modules/

# Next.js build output
.next/

# Logs
*.log

# Mac system files
.DS_Store

# Windows system files
Thumbs.db